*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    margin: auto;
}
.container{
    max-width: 1080px;
    margin:auto;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.vamos{
    justify-content: center;
    text-align: center;
    display: inline-block;
    background-color: #298e01cb;
    color: white;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.5s;
}

.vamos_nav{
    text-align: center;
    margin: auto;
}
header{
    width: 100%;
    position: fixed;
    bottom: 50px;
    left: 0;
}
header i{
    color: #fff;
}
header ul{
    list-style-type: none;
}
header ul li{
    display: inline-block;
    margin:  0 40px;
}
header ul li a{
    color: #fff;
    text-decoration: none;
}
.fundo{
    height: 100vh;
    background-image: url(CartaDeMestre.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
  }
.fundo h1{
    color: rgb(60, 223, 128);
    font-size: 4em;
    font-family: monospace;
}
.fundo h1 span{
    color: #f8ffc8;
    font-family:'Courier New', Courier, monospace ;
}
header div div{
    text-align: center;
}
header a img {
    display: block;
    transition: transform 0.3s ease;
}

header a:hover img {
    transform: scale(1.2);
}
.texto-container {
    display: inline-block;
    transition: transform 0.3s ease;
}
.texto-container:hover {
    transform: scale(1.2);
}
header ul {
    list-style-type: none;
    padding: 0;;
}

header ul li {
    display: inline-block;
    scale: 3;
}

header ul li:hover {

    transform: scale(1.2);
}

@media (max-width: 1200px) {
    header ul {
        margin: 0 10px;
        margin-bottom: 150px;
    }
    .fundo h1 {
        font-size: 2.5em;
    }

    .container {
        padding: 10px;
    }
}

@media (max-width: 0px) {
    header ul  {
        display: block;
        text-align: center;
        margin: 10px 0;
        margin-bottom: 150px;
    }

    .fundo h1 {
        font-size: 2em;
    }

    .botao-instagram button {
        width: 100%;
    }
}